<style>
  .sidenav li > a {
    padding: 0 32px !important;
  }
  .collapsible-body > ul > li > a {
    padding: 0 48px !important;
    font-weight: 400 !important;
  }
</style>

<body>
  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content grey lighten-2">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li>
        <a href="#!"><i class="material-icons">view_module</i>four</a>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>five</a>
      </li>
    </ul>
    <nav>
      <div class="nav-wrapper blue darken-2">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#"
              ><a
                class="btn blue-grey darken-4"
                onclick="M.toast({html: 'I am a toast', completeCallback: function(){alert('Your toast was dismissed')}})"
                >Toast!</a
              ></a
            >
          </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"
              >Dropdown<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li class="logo"><a href="#!" class="brand-logo">Logo</a></li>
    <li><a href="#">First</a></li>
    <li><a href="#">Second</a></li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Dropdown</a>
          <div class="collapsible-body">
            <ul id="" class="">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li><a href="#">Third</a></li>
    <li><a href="#">Fourth</a></li>
  </ul>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content black-text">

              <h4>{{ title }}</h4>

              <button class="waves-light btn" (click)="toggle()" id="bt">
                {{ buttonName }}
              </button>

              <ng-container *ngIf="show">
                <div style="margin: 0 auto; text-align: left">
                  <img src="../assets/image/1.png" style="width: 100%" />
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
            We are a team of college students working on this project like it's
            our full time job. Any amount would help support and continue
            development on this project and is greatly appreciated.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a class="orange-text text-lighten-3" href="http://materializecss.com"
          >Materialize</a
        >
      </div>
    </div>
  </footer>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
